      [[outputs.influxdb]]
        urls = ["http://{{ ansible_host }}:{{ telegraf_port }}"]
        database = "telegraf"
        username = "{{ telegraf_username }}"
        password = "{{ telegraf_password }}"