[Unit]
Description=Telegraf
After=network.target

[Service]
ExecStart=/opt/telegraf/telegraf-{{ telegraf_version }}/usr/bin/telegraf --config /opt/telegraf/telegraf.conf
Restart=always
User=root

[Install]
WantedBy=multi-user.target
