[Unit]
Description=Telegraf
Documentation=https://github.com/influxdata/telegraf
After=network.target

[Service]
ExecStart=/usr/bin/telegraf --config {{ telegraf_config_file }}
User=telegraf
Group=telegraf
Restart=on-failure
EnvironmentFile=-/etc/default/telegraf

[Install]
WantedBy=multi-user.target
