[Unit]
Description=Grafana instance
After=network.target

[Service]
ExecStart=/opt/grafana/bin/grafana-server \
  --config=/opt/grafana/conf/custom.ini \
  --homepath=/opt/grafana
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target