# roles/grafana/templates/grafana.service.j2
[Unit]
Description=Grafana instance
After=network.target

[Service]
ExecStart=/opt/grafana/bin/grafana-server \
  --config=/opt/grafana/conf/defaults.ini \
  --homepath=/opt/grafana
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target
