DB_URL="{{ DB_URL }}"
DB_USERNAME="{{ DB_USERNAME }}"
DB_PASSWORD="{{ DB_PASSWORD }}"
PORT= "{{ backend_port }}"
JWT_SECRET=CHIKERE.Ezechukwu
SUPPRESS_NO_CONFIG_WARNING=true
admin_Mail="{{ admin_Mail }}
mail_Password="{{ mail_Password }}"