module.exports = {
  apps: [
    {
      name: "Library",
      script: "serve",
      args: "-s build -l 80 --spa",
      env: {
        NODE_ENV: "production",
        PORT: 80    
      },
    },
  ],
};
