[Unit]
Description=Promtail Log Collector
After=network.target

[Service]
ExecStart=/opt/promtail/promtail-linux-amd64 -config.file /opt/promtail/promtail-config.yaml
Restart=always
User=root

[Install]
WantedBy=multi-user.target
