[Unit]
Description=Prometheus Monitoring System
After=network.target

[Service]
ExecStart=/opt/prometheus/prometheus-{{ prometheus_version }}.linux-amd64/prometheus --config.file {{ prometheus_config_file }} --storage.tsdb.path {{ prometheus_data_dir }}
Restart=always
User=root

[Install]
WantedBy=multi-user.target
